<div class="container my-2">
  <!-- Search filter -->
  <section class="filter-section mb-4">
    <label for="filter" class="form-label" style="font-size: 1rem;">Filtriraj po bilo kom polju:</label>
    <input 
      type="text" 
      id="filter" 
      class="form-control form-control-sm" 
      placeholder="Unesite tekst" 
      [(ngModel)]="filterTerm" 
      (input)="applyFilter()" />
  </section>

  <!-- Additional filters button -->
  <div class="mb-3 text-center">
    <button class="btn btn-secondary btn-sm w-100" (click)="toggleAdditionalFilters()">
      Još filtera
    </button>
  </div>

  <!-- Additional filters (hidden by default) -->
  <section *ngIf="showAdditionalFilters">
    <div class="row mb-4">
      <div class="col-6">
        <label for="dateFrom" class="form-label" style="font-size: 0.9rem;">Datum od:</label>
        <input 
          type="date" 
          id="dateFrom" 
          class="form-control form-control-sm" 
          [(ngModel)]="dateFrom" 
          (change)="applyFilter()" />
      </div>
      <div class="col-6">
        <label for="dateTo" class="form-label" style="font-size: 0.9rem;">Datum do:</label>
        <input 
          type="date" 
          id="dateTo" 
          class="form-control form-control-sm" 
          [(ngModel)]="dateTo" 
          (change)="applyFilter()" />
      </div>
    </div>

    <div class="mb-4">
      <label for="confirmationFilter" class="form-label" style="font-size: 0.9rem;">Potvrđene/Nepotvrđene rezervacije:</label>
      <select id="confirmationFilter" class="form-control form-control-sm" [(ngModel)]="confirmationStatus" (change)="applyFilter()">
        <option value="">Sve</option>
        <option value="true">Potvrđene</option>
        <option value="false">Nepotvrđene</option>
      </select>
    </div>
  </section>

  <!-- Reservation table -->
  <section class="table-section">
    <h2 class="mb-4 text-center" style="font-size: 1.25rem;">
      <i class="fas fa-list-alt me-2"></i>Lista rezervacija
    </h2>
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle table-sm">
        <thead class="table-dark">
          <tr> 
            <th scope="col" style="font-size: 0.85rem;">Ime klijenta</th> 
            <th scope="col" style="font-size: 0.85rem;">Telefon</th>
            <th scope="col" style="font-size: 0.85rem;">Datum termina</th>
            <th scope="col" class="d-none d-lg-table-cell" style="font-size: 0.85rem;">Usluga</th> <!-- Hidden on mobile -->
            <th scope="col" class="d-none d-lg-table-cell" style="font-size: 0.85rem;">Trajanje</th> <!-- Hidden on mobile -->
            <th scope="col" class="d-none d-lg-table-cell" style="font-size: 0.85rem;">Prvi SMS</th>
            <th scope="col" class="d-none d-lg-table-cell" style="font-size: 0.85rem;">Drugi SMS</th>
            <th scope="col" class="d-none d-lg-table-cell" style="font-size: 0.85rem;">Potvrđeno</th>
            <th scope="col" style="font-size: 0.85rem;">Akcije</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let reservation of filteredReservations; let i = index">
            <!-- Main row with basic details (visible on all screen sizes) -->
            <tr (click)="toggleDetails(i)">
              <td style="font-size: 0.85rem;">{{ reservation.name }}</td> 
              <td style="font-size: 0.85rem;">{{ reservation.phone }}</td>
              <td style="font-size: 0.85rem;">{{ reservation.appointmentDate | date:'dd.MM.yyyy HH:mm' }}</td>
              <td class="d-none d-lg-table-cell" style="font-size: 0.85rem;">{{ reservation.usluga.naziv }}</td> <!-- Hidden on mobile -->
              <td class="d-none d-lg-table-cell" style="font-size: 0.85rem;">{{ reservation.vremeTrajanja }}</td> <!-- Hidden on mobile -->
              <td class="d-none d-lg-table-cell" style="font-size: 0.85rem;">{{ reservation.firstMsgSent ? 'Poslat' : 'Nije poslat' }}</td>
              <td class="d-none d-lg-table-cell" style="font-size: 0.85rem;">{{ reservation.secondMsgSent ? 'Poslat' : 'Nije poslat' }}</td>
              <td class="d-none d-lg-table-cell" style="font-size: 0.85rem;">{{ reservation.confirmed ? 'Da' : 'Ne' }}</td>
              <td class="d-flex">
                <button (click)="openEditDialog(reservation)" class="btn btn-warning btn-sm me-1" style="font-size: 0.75rem;">
                  <i class="fas fa-edit me-1"></i> Izmeni
                </button>
                <button (click)="openDeleteDialog(reservation.id)" class="btn btn-danger btn-sm me-1" style="font-size: 0.75rem;">
                  <i class="fas fa-trash-alt me-1"></i> Obriši
                </button>
                <a [href]="'tel:' + reservation.phone" class="btn btn-call btn-sm me-1" style="font-size: 0.75rem;">
                  <i class="fas fa-phone-alt me-1"></i> Pozovi
                </a>
              </td>
            </tr>

            <!-- Row with additional details (hidden on desktop, shown only on mobile after click) -->
            <tr *ngIf="selectedReservationIndex === i" class="d-lg-none">
              <td colspan="5">
                <div class="additional-details">
                  <p><strong>Usluga:</strong> {{ reservation.usluga.naziv  }}</p>
                  <p><strong>Prvi SMS:</strong> {{ reservation.firstMsgSent ? 'Poslat' : 'Nije poslat' }}</p>
                  <p><strong>Drugi SMS:</strong> {{ reservation.secondMsgSent ? 'Poslat' : 'Nije poslat' }}</p>
                  <p><strong>Potvrđeno:</strong> {{ reservation.confirmed ? 'Da' : 'Ne' }}</p>
                  <p><strong>Trajanje:</strong> {{ reservation.vremeTrajanja }}</p>
                  <p *ngIf="isAdmin"><strong>Vlasnik:</strong> {{ reservation.user.ime }}</p>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
        
      </table>
    </div>
  </section>
</div>
