/* settings2.component.css */

.image-preview {
    position: relative;
  }
  
  .image-preview img {
    width: 100%;
    height: auto;
  }
  
  .image-preview button {
    position: relative;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .toast-container {
    z-index: 1055; /* Osigurava da je toast iznad ostalih elemenata */
  }
  