<!-- blocked-accounts.component.html -->
<div class="container">
  <h3 class="mb-4">Blokirani Nalozi</h3>

  <!-- Odabir Kompanije za SADMIN-a -->
  <div *ngIf="userRole === 'SADMIN'" class="mb-3">
    <label for="companySelect" class="form-label">Odaberi Kompaniju</label>
    <select
      id="companySelect"
      class="form-select"
      [(ngModel)]="selectedCompanyId"
      (change)="onCompanyChange()"
    >
      <option [ngValue]="null">-- Izaberi Kompaniju --</option>
      <option *ngFor="let company of companies" [value]="company.id">
        {{ company.name }}
      </option>
    </select>
  </div>

  <!-- Poruke -->
  <div
    *ngIf="userRole === 'SADMIN' && selectedCompanyId === null"
    class="alert alert-info"
  >
    Molimo vas, odaberite kompaniju.
  </div>

  <!-- Tabela sa korisnicima -->
  <div *ngIf="blockedUsers.length > 0" class="table-responsive mt-4">
    <table class="table table-striped align-middle">
      <thead class="table-dark">
        <tr>
          <th>Ime</th>
          <th>Email</th>
          <th>Akcije</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of blockedUsers">
          <td>{{ user.ime }}</td>
          <td>{{ user.email }}</td>
          
          <td>
            <button
              *ngIf="user.blocked"
              class="btn btn-sm btn-success" 
              style="width: 100px;"
              (click)="unblockUser(user.id)"
            >
              Odblokiraj
            </button>
            <button
              *ngIf="!user.blocked"
              class="btn btn-sm btn-danger"
              style="width: 100px;"
              (click)="blockUser(user.id)"
            >
              Blokiraj
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Poruka ako nema korisnika -->
  <div
    *ngIf="blockedUsers.length === 0 && selectedCompanyId !== null"
    class="alert alert-info mt-4"
  >
    Nema korisnika za prikaz.
  </div>
</div>
